{% extends 'base.html' %}

{% block title %}
    Sign up
{% endblock title %}

{% block content %}
    
    <body class="text-center">
        <div class="container">
            <h1>Create an account</h1>
            <br>
            <form action="POST" class="form-register" style="color: white;">
                {{ form.username.label() }}
                {{ form.username(class='form-control') }}
        
                {{ form.email.label() }}
                {{ form.email(class='form-control') }}
        
                {{ form.password.label() }}
                {{ form.password(class='form-control') }}

                {{ form.confirm_password.label() }}
                {{ form.confirm_password(class='form-control') }}

                <br>
                {{ form.submit(class='btn btn-lg btn-primary') }}
            </form>
        </div>
    </body>

{% endblock content %}